---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
• ISYS3413/ISYS1117/ISYS1118 Software Engineering Fundamentals (lecturer, course coordinator, undergraduate and postgraduate course), Semesters 1 and 2 in 2022, 2023, Semester 1 in 2024, Semester 1 in 2025, RMIT University
• ISYS3459 Systems Architecture and Design (lecturer, course coordinator, undergraduate course), Semester 2 in 2024, Semester 2 in 20225, RMIT University
• COSC2410/2648 Software Engineering Capstone Project (project supervisor, undergraduate and postgraduate course), Semester 2 in 2023, Semesters 1 and 2 in 2024, Semester 1 in 2025, RMIT University
• FIT5136 Software Engineering (co-lecturer, postgraduate course), Semester 2 in 2020, Monash University
• COMP SCI 1106 Introduction to Software Engineering (course coordinator, co-lecturer, undergraduate course), Semester 2 in 2018, The University of Adelaide
• COMP SCI 4023 Software Process Improvement (teaching assistant, undergraduate course), Semester 1 in 2018, The University of Adelaide
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
